#app {
  /*border: 1px dashed black;*/
  max-width: 99vw;
  display: flex;
}

#network-half {
  /*border: 1px solid red;*/
  min-width: 99vh;
  display: flex;
  flex-direction: column;
  background-color:aliceblue;
}

#network-selector {
  /*border: 1px solid green;*/
  height: 5vh;
  display: flex;
  background-color: lightblue;
  justify-content: space-between;
}

h1 {
  font-size: 1em;
}

label {
  margin-left: 0.25em;
  color: black;
}

#nodesearchdiv {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  height: 2em;
}

#nodesearchfield {
  width: 12vw;
  max-width: 12vw;
  margin-left: 0.5em;
}

#site-info {
  height: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin-left: 0.25em
}

#components {
  /*border: 1px solid magenta;*/
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#component-select {
  width: 50%;
  margin-left: 1em;
  font-size: 1em;
}

.inactivetab {
  display: none;
}

.hiddenbutton.tab2 {
  display: none;
}

.activebutton {
  display: block;
}

#selected {
  /*border: 1px solid yellow;*/
  height: 28vh;
  margin-left: 1vh;
}

#network {
  flex: 1;
  background-color:whitesmoke;
}

#info-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

#info-stuff {
  display: flex;
  flex-direction: column;
  width: 99%;
}

#info-half {
  display: flex;
  flex-direction: column;
  background-color:aliceblue;
  height: 95vh;
  flex: 1;
  max-width: 48vw;
}

.tab, .tab2 {
  background-color: silver;
  padding: 0.5em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.activebutton {
  background-color:aquamarine;
}

#neighbor p {
  margin-left: 1em;
}

#neighbor li {
  margin: 0.5em;
}

#neighbor li div {
  margin-left: 0.5em;
}

#neighbor {
  overflow-y: scroll;
  max-height: 58vh;
}

.activetab {
  display: block;
}

#info, #paper {
  max-height: 58vh;
  overflow: hidden;
}

#indexholder {
  height: 58vh;
}

#index {
  height: 58vh;
}

#tabs {
  /*border: 1px dashed gray;*/
  height: 3vh;
  display: flex;
}

#tabsspace {
  flex: 1;
}

#infoholder, #paperholder {
  height: 58vh;
}

#info-filters {
  flex: 1;
  display: flex;
}

#space {
  flex: 1;
  background-color: black;
}

#filters {
  margin-left: 1em;
  margin-right: 2em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}

#mindiv {
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex: 1;
}


#maxdiv {
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex: 1;
}

input {
  max-width: 3.5vw;
  text-align: center;
  height: 1.5em;
}

body {
  min-width: 400px;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
}

#componentpapers {
  margin-left: 0.1em;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

a:hover {
  color: fuchsia;
}

#neighbor li:hover {
  color: fuchsia;
}

#selectedName {
  font-weight: normal;
}

li {
  color: black;
  width:fit-content;
}

#year-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: blue;
}

#year-inputs {
  display: flex;
  justify-content: center;
  margin-left: 0.5em;
}

.author {
  margin-right: 0.25em;
}

.author:hover {
  color: fuchsia;
}

.nohover > .author:hover {
  color: black;
}

.author-cell {
  display: flex;
  flex-wrap: wrap;
}