#app {
  border: 1px dashed black;
  width: 98vw;
  display: flex;
}

#network-half {
  border: 1px solid red;
  min-width: 99vh;
  display: flex;
  flex-direction: column;
}

#network-selector {
  border: 1px solid green;
  height: 5vh;
  display: flex;
}

#nodesearchdiv {
  flex: 1;
  display: flex;
  align-items: center;
}

#nodesearch {
  width: 10vw;
  max-width: 10vw;
  margin-left: 0.5em;
}

#site-info {
  height: 100%;
  border: 1px solid yellowgreen;
}

#components {
  border: 1px solid magenta;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#component-select {
  width: 50%;
  margin-left: 1em;
  font-size: 1em;
}

#selected {
  border: 1px solid yellow;
  height: 32vh;
  margin-top: 2vh;
  margin-left: 1vh;
}

#network {
  flex: 1;
}

#info-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#info-stuff {
  display: flex;
  flex-direction: column;
  width: 99%;
}

#info-half {
  flex-direction: column;
  height: 97vh;
  flex: 1;
}

#info {
  height: 52vh;
  overflow: hidden;
}

#tabs {
  border: 1px dashed gray;
}


#info-filters {
  flex: 1;
  display: flex;
}

#space {
  flex: 1;
  background-color: black;
}

#filters {
  margin-left: 1em;
  margin-right: 2em;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

#mindiv {
  margin: 0.5em;
}

#maxdiv {
  margin: 0.5em;
}

input {
  max-width: 3.5vw;
  text-align: center;
}

#year-filter {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

#year-filter p {
  margin: 0;
  font-weight: 600;
}

#year-inputs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.author {
  margin-right: 0.25em;
}

.author:hover {
  color: lime;
}

.author-cell {
  display: flex;
  flex-wrap: wrap;
}